<%- include('header') %>
<div class="container">
    <h2>Project Leaderboard</h2>
    <div class="row">
        <div class="col-md-5">
            <div class="box">
                .
            </div>
        </div>
        <div class="col-md-7">
            <div class="ta">
                <h3>Carbify - Aco2Rewards Audit Summary</h3>
                <div class="row">
                    <div class="col-sm-6">
                        <h5>Project Name</h5>
                        <h5>Tags</h5>
                        <h5>Overview</h5>
                    </div>
                    <div class="col-sm-6">
                        <h6>Carbify - Aco2Rewards</h6>
                        <p>NFT  ERC721 contract   ERC 20 Token Contract</p>
                        <p>Aco2 is an ERC20 token that allows assigned addresses to either mint or burn tokens. It inherits the Openzeppelin Access Control Contract to achieve the role assignment. NFTree is an ERC721 upgradable contract inheriting Initializable,ERC721Upgradable,ERC721Enumerable, ERCBurnableUpgradable, AccessControlUpgradable from Openzeppelin library. All these aid in achieving the upgradability of the contract, the burning of tokens by assigned BURNER_ROLE, enumeration of minted tokens, and also for the designation of roles. The NFTree contract allows the MINTER to mint one or batch of tokens into an account and with an approval of the token owner, the BURNER can burn an ERC721 token.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer') %>