<%- include('header') %>
<div class="container-fuild box2">
  <div class="row">
    <div class="col-lg-8">
      <div class="box1">
        <h2>Smart Contracts <br> Auditing Services, <br> DeFi Safety Audits</h2>
        <br>
        <h5>
          Emerging Web3 Ventures Trust Our Smart Contract Audits
        </h5>
        <a href="#" class="btn btn-secondary my-2">Explore Our Audit Process</a>
        <a href="#" class="btn btn-secondary my-2">Get a Free Audit Consultation</a>
      </div>
    </div>
    <div class="col-lg-4">
      <img src="https://www.quillaudits.com/assets/landing/Shield.svg" alt="">
    </div>
  </div>
  <div class="row box3">
    <div class="col-lg-3">
      <h5>
        850+ <br>
Projects Secured <br>
By QuillAudits
      </h5>
    </div>
    <div class="col-lg-3">
      <h5>
        $35B <br>
Amount Lost To <br>
Crypto Hacks
      </h5>
    </div>
    <div class="col-lg-3">
      <h5>
        800K <br>
Lines of Codes <br>
Secured by QuillAudits
      </h5>
    </div>
    <div class="col-lg-3">
      <h5>
        $30B <br>
Amount protected <br>
By QuillAudits
      </h5>
    </div>
  </div>
</div>

<!-- top2 -->

<div class="container">
  <div class="row">
    <div class="col-lg-12">
<center class="box4">
  <h6>TRUSTED GLOBALLY</h6>
<br>
<p>With a trusted reputation spanning the globe, QuillAudits is the partner of choice for businesses seeking unrivalled security for their web3 projects</p>
<br>
<p>Trusted By more than 1000 Users Globally</p>
</center>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <img src="" alt="">
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-2"></div>
    <div class="col-lg-2"></div>
    <div class="col-lg-2"></div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row box5"> 
    <div class="col-lg-12">
      <center>
        <h6 style="color: #2e6ca3;">SERVICES</h6>
      <h3>Our Offerings And Initiatives</h3>
      </center>
    </div>
    <div class="row box-1">
        <div class="col-lg-3">
          <img src="	https://www.quillaudits.com/assets/landing/security-icons/security-audits.svg" alt="">
          <p>Security Audits</p>
        </div>
        <div class="col-lg-3">
          <img src="https://www.quillaudits.com/assets/landing/security-icons/red-team.svg" alt="">
          <p>Quill RedTeam</p>
        </div>
        <div class="col-lg-3">
          <img src="https://www.quillaudits.com/assets/landing/security-icons/tools.svg" alt="">
          <p>Our Tools</p>
        </div>
        <div class="col-lg-3">
          <img src="https://www.quillaudits.com/assets/landing/security-icons/quillacademy.svg" alt="">
          <p>QuillAcademy
          </p>
        </div>
    </div>
  </div>
</div>


<!-- top3 -->
<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3"></div>
  </div>
</div>

<!-- top4 -->
<!-- <div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h6>WHY ARE WE HERE</h6>
      <h5>What is the Need <br> of Smart Contract <br> Audit?</h5>
      <a href="#" class="btn btn-secondary my-2">Talk to an Expert</a>
    </div>
    <div class="col-lg-9"></div>
  </div>
</div> -->

<!-- top5 -->
<div class="container box6">
  <div class="row">
    <div class="col-lg-12">
     <center> <h6>THE SECURITY</h6>
      <h3>How We Secure Your Web3 Project</h3>
      <img src="https://www.quillaudits.com/assets/landing/process.svg" alt=""></center>
      <center> <a href="#" class="btn btn-secondary my-2">Get a Closer Look at our Audit Process!</a></center>
    </div>
  </div>
</div>

<!-- top6 -->
<!-- <div class="container box7">
  <div class="row">
    <div class="col-lg-12">
     <center>
      <h6 style="color: #2e6ca3;">PORTFOLIO</h6>
      <h5>Latest Work</h5>
      <a href="#" class="btn btn-secondary my-2">Ethereum</a>
      <a href="#" class="btn btn-secondary my-2">BSC</a>
      <a href="#" class="btn btn-secondary my-2">Polygon</a>
      <a href="#" class="btn btn-secondary my-2">Solana</a>
      <a href="#" class="btn btn-secondary my-2">dApp</a>
      <a href="#" class="btn btn-secondary my-2">Avalanche</a>
      <a href="#" class="btn btn-secondary my-2">Wallet</a>
      <a href="#" class="btn btn-secondary my-2">Forensics</a>
      <br>
     </center>
      <center><a href="#" class="btn btn-secondary my-2">Browse through Our Audits</a></center>
    </div>
  </div>
</div> -->

<!-- top7 -->
<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h6 style="color: #2e6ca3;">TESTIMONIALS</h6>
      <h5>What our Clients are saying</h5>
    </div>
  </div>
</div> -->

<!-- top8 -->
<div class="container">
  <center>
    <h6 style="color: #2e6ca3;">NETWORK</h6>
    <h5>Our Ecosystem Partners</h5>
  </center>
  <div class="row">
    <div class="col-lg-4">
     <div class="box8">
      <img src="https://www.quillaudits.com/_next/image?url=%2Fassets%2Flanding%2Fpartners%2Fpolygon-dao.png&w=96&q=75" alt="">
      <h6>Polygon DAO</h6>
      <p>PolygonDAO aims to turn the control back the community, evangelize developers, and Support DAO open-source initiatives.</p>
     </div>
    </div>
    <div class="col-lg-4">
      <div class="box8">
        <img src="https://www.quillaudits.com/_next/image?url=%2Fassets%2Flanding%2Fpartners%2Frapid.png&w=96&q=75" alt="">
      <h6>Rapid Innovation</h6>
      <p>Rapid Innovation is a development company that helps startups build decentralized products. Their goal is to speed up the adoption of blockchain technology.</p>
      </div>
      
    </div>
    <div class="col-lg-4">
      <div class="box8">
        <img src="https://www.quillaudits.com/_next/image?url=%2Fassets%2Flanding%2Fpartners%2Funcx.png&w=96&q=75" alt="">
        <h6>UNCX Network</h6>
        <p>Multi-chain decentralised services provider — Built from the ground-up, permanently ignoring market conditions and delivering disruption.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="box8">
        <img src="https://www.quillaudits.com/_next/image?url=%2Fassets%2Flanding%2Fpartners%2Ftdefi.png&w=96&q=75" alt="">
      <h6>TDefi</h6>
      
      <p>TDeFi accelerator provides access to World-Class Mentors, Industry Connections, Technology,Exchanges, liquidity, and growth hacking partnerships.</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="box8">
        <img src="https://www.quillaudits.com/_next/image?url=%2Fassets%2Flanding%2Fpartners%2Fkucoin.png&w=96&q=75" alt="">
      <h6>KUCOIN</h6>
      <p>KuCoin is a secure cryptocurrency exchange that allows you to buy, sell, and trade Bitcoin, Ethereum, and 850+ altcoins. The leader in driving Web 3.0 adoption.</p>
      </div>
    </div>
    <div class="col-lg-4">
     <div class="box8">
      <img src="https://www.quillaudits.com/_next/image?url=%2Fassets%2Flanding%2Fpartners%2FeDAO.png&w=96&q=75" alt="">
      <h6>eDAO</h6>
      <p>eDAO wants to become the 'operating system' for creating communities in music, art, and culture. It aims to launch global art, media, and entertainment IPs at scale in the Web3 world.</p>
     </div>
    </div>
  </div>
</div>

<!-- top9 -->
<section class="">
  <div class="container">
    <div class="row">
      <div class="col-md-4 box9">
        <p style="color: #2e6ca3;">FAQ</p>
        <h2>Frequently Asked Questions</h2>
        <br>
        <p>Visit our FAQs help centre to clear out any doubts or queries you may have regarding us and our services. or reach out to us directly at Telegram.</p>
        <a href="#" class="btn btn-secondary my-2">Explore FAQs</a>
      </div>
      <div class="col-md-8">
        <div class="generic_feature_list1">
          <section class="faq-section">
            <div class="container">
              <div class="row">
                                <!-- ***** FAQ Start ***** -->
                                <div class="col-md-10 offset-md-3">
                                </div>
                                 <div class="col-md-10 offset-md-3">
                                    <div class="faq" id="accordion">
                                        <div class="card">
                                            <div class="card-header" id="faqHeading-1">
                                                <div class="mb-0">
                                                    <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                                                        <span class="badge">1</span>What is a Smart Contract Audit?
                                                    </h5>
                                                </div>
                                            </div>
                                            <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Smart Contract Audit is a comprehensive process to scrutinise a smart contract’s code that is used to interact with a cryptocurrency or blockchain. This process is carried out to discover errors, issues & security vulnerabilities in the code in order to rectify & fix them. It secures the code from potential future bugs.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="faqHeading-2">
                                                <div class="mb-0">
                                                    <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2" data-aria-expanded="false" data-aria-controls="faqCollapse-2">
                                                        <span class="badge">2</span> Who needs a Smart Contract Audit?
                                                    </h5>
                                                </div>
                                            </div>
                                            <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Smart Contract Audit is for everyone who is dealing with smart contracts; whether you have an ICO, STO, fintech, Games or any dApp solution based on Smart Contract, you should go for a third-party Audit</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="faqHeading-3">
                                                <div class="mb-0">
                                                    <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-3" data-aria-expanded="false" data-aria-controls="faqCollapse-3">
                                                        <span class="badge">3</span>Why do we use it?
                                                    </h5>
                                                </div>
                                            </div>
                                            <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>The time span of an audit depends on the code size & the complexity of the project. A standard token (ERC20 & other ERC standards) can be audited within a week; on the other hand, complex DeFi projects, Blockchain wallets/dApps may stretch around a couple of weeks to a month.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="faqHeading-4">
                                                <div class="mb-0">
                                                    <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-4" data-aria-expanded="false" data-aria-controls="faqCollapse-4">
                                                        <span class="badge">4</span> What Audit process do we follow?
                                                    </h5>
                                                </div>
                                            </div>
                                            <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>We scan for vulnerabilities present in the system by running various test cases. We also conduct manual testing to verify the code for its intended use case. Apart from this, we also leverage in-house & open source security tools as per the smart contract’s framework. Click Here to know more about our comprehensive Audit Process.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="faqHeading-5">
                                                <div class="mb-0">
                                                    <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-5" data-aria-expanded="false" data-aria-controls="faqCollapse-5">
                                                        <span class="badge">5</span> What are the differentiating grounds for automated audit & manual audit?
                                                    </h5>
                                                </div>
                                            </div>
                                            <div id="faqCollapse-5" class="collapse" aria-labelledby="faqHeading-5" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p> A manual Audit is performed by our in-house team of skilled code auditors to testify to the correct implementations of its specifications. But “To Err Is Human”; hence we also take advantage of various smart contract code testing tools. These tools work on methodical principles of mathematics, hence proving the implementation of contracts based on their specification.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="faqHeading-6">
                                                <div class="mb-0">
                                                    <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-6" data-aria-expanded="false" data-aria-controls="faqCollapse-6">
                                                        <span class="badge">6</span>How much does a smart contract audit cost?
                                                    </h5>
                                                </div>
                                            </div>
                                            <div id="faqCollapse-6" class="collapse" aria-labelledby="faqHeading-6" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Our price varies from one smart contract to another. It depends on the complexity of functionalities and the lines of code in the smart-contract. We follow an intensive audit process by keeping the cost minimal to ensure maximum security. Request a free quote or contact our team, and we will get back to you with a feasible timeline and cost.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="faqHeading-7">
                                                <div class="mb-0">
                                                    <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-7" data-aria-expanded="false" data-aria-controls="faqCollapse-7">
                                                        <span class="badge">7</span>Which blockchains do we audit?
                                                    </h5>
                                                </div>
                                            </div>
                                            <div id="faqCollapse-7" class="collapse" aria-labelledby="faqHeading-7" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>We audit all major blockchains, which include Ethereum, Binance Smart Chain, Solana, Polygon(MATIC) , Polkadot, and many others.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                          <div class="card-header" id="faqHeading-7">
                                              <div class="mb-0">
                                                  <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-7" data-aria-expanded="false" data-aria-controls="faqCollapse-7">
                                                      <span class="badge">7</span>My questions are not answered here; where shall I contact you with a query?
                                                  </h5>
                                              </div>
                                          </div>
                                          <div id="faqCollapse-7" class="collapse" aria-labelledby="faqHeading-7" data-parent="#accordion">
                                              <div class="card-body">
                                                  <p>Please reach out with your queries at hello@quillhash.com or on our Official Telegram Handle</p>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                            </section>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('getfree') %>

<%- include('newsletter') %>
<%- include('footer') %>