
<section class="jumbotron text-center">
    <div class="container">
     <center>
      <p style="color: blue;">NEWSLETTER</p>
      <h3>Security First Newsletter by QuillAudits</h3>
      <img src="https://www.quillaudits.com/assets/newsletter/newsletter.svg" width="40%" alt="">
       <p>DeFi & NFT Hacks, CTFs, and Blockchain Security Insights Straight to your Inbox. Explore our weekly newsletter: HashingBits. Stay updated on everything we’re publishing. Stand a step ahead.</p>
     </center>
    </div>
  </section>
  