<div class="container web3scam">
    <h2>A Comprehensive Look at Hacks and Scams in Web3</h2>
    <div class="row">
        <div class="col-lg-12">
            <div class="box-4">
                <p>
                    Each year, millions drain down the crypto hacks. Here are a few examples how hackers took advantage of the loopholes in the code to escape with millions:
                </p>
            </div>
            <div class="box-4">
                <p>
                    In March 2022, $615M were stolen from Ronin Network, a platform powering the popular mobile game Axie Infinity.                </p>
            </div>
            <div class="box-4">
                <p>
                    In August 2021, the criminals transferred $611M-worth of Poly Network tokens to three wallets they controlled.

                </p>
            </div>
            <div class="box-4">
                <p>
                    In September 2020, $275m worth of cryptocurrency was stolen from the Singapore-headquartered exchange KuCoin.

                </p>
            </div>
        </div>
    </div>
    <h5>Top ten biggest cryptocurrency thefts by estimated losses as of June 2022</h5>
    <br>
    <p class="le">Caption: Values calculated according to cryptocurrency prices at the time of the theft
        Source: <br> Statista/Bloomberg, Business Insider, TechCrunch, CNBC, Ronin Network, Vice.</p>
        <br>
        <img src="https://www.quillaudits.com/_next/image?url=https%3A%2F%2Fquillaudit-upload.s3.ap-southeast-1.amazonaws.com%2FWeb%201920%20%E2%80%93%201-2%252Cpng1662625006536.png&w=640&q=75" alt="">
        <br>
        <a href="#">Curious about the most common types of vulnerabilities and attack vectors in the Web3 space? Our Hackerboard can help you stay informed</a>
</div>